.modal-visualizar-noticia {

    ul.tags  {
        padding-left: 0px;
    }
    .tags li {
        display: inline;
        list-style-type: none;
        padding-right: 5px;
        margin-left: 0;
        color: #387ef5
    }

}
