<ion-header>

  <ion-navbar primary>
    <ion-title> Informações </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [ngFormModel]="form" (submit)="onSubmit()">

    <ion-list>

      <ion-item [class.error]="!nome.valid && nome.touched">
        <ion-label>Nome</ion-label>
        <ion-input [ngFormControl]="nome" type="text" [disabled]="!grupo.usuarioAdmin"></ion-input>
      </ion-item>

      <ion-item [class.error]="!descricao.valid && descricao.touched">
        <ion-label>Descrição</ion-label>
        <ion-input type="text" [ngFormControl]="descricao" [disabled]="!grupo.usuarioAdmin"></ion-input>
      </ion-item>


      <ion-item *ngIf="showErrorMessages()">
        Atenção:
        <p *ngIf="nome.hasError('required') && (nome.touched || submitted)" class="error-label">
          * O nome do grupo é obrigatório
        </p>
        <p *ngIf="nome.hasError('maxlength') && (nome.touched || submitted)" class="error-label">
          * O nome deve conter no máximo 50 carac.
        </p>
        <p *ngIf="descricao.hasError('required') && (descricao.touched || submitted)" class="error-label">
          * A descrição do grupo é obrigatória
        </p>
        <p *ngIf="descricao.hasError('maxlength') && (descricao.touched || submitted)" class="error-label">
          * A descrição deve conter no máximo 70 carac.
        </p>
      </ion-item>

    </ion-list>

    <button full type="submit" [disabled]="!form.valid" [hidden]="!grupo.usuarioAdmin">Alterar</button>

  </form>

</ion-content>