<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'app/template/views/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'app/template/views/topnavbar.html'"></div>
        <div ng-include="'app/template/views/pageTitle.html'"></div>
        <div ng-include="'app/template/views/theme_config.html'"></div>
        <!-- Main view  -->
        <div data-ng-view></div>

        <!-- Footer -->
        <div ng-include="'app/template/views/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
