.nova-noticia {

    .tags {
        ion-badge {
            margin-right: 3px;
            margin-bottom: 3px;
        }
    }

    .error-label {
        color: #ff0000;
        margin-left: 13px;
    }

}
