<div id="config-main" class="wrapper wrapper-content animated fadeIn">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>Configurações</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins product-box">
                <div class="ibox-content text-center">
                    <a href="#/config/admins" style="color:inherit;">
                        <h2>Administradores</h2>
                        <i class="fa fa-users fa-4" style="font-size: 4em !important;" aria-hidden="true"></i>
                        <h4>Gerenciamento dos usuários que possuem permissão para acessar o módulo administrativo</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins product-box">
                <div class="ibox-content text-center">
                    <a href="#/config/social" style="color:inherit;">
                        <h2>Redes sociais</h2>
                        <i class="fa fa-share-alt fa-4" style="font-size: 4em !important;" aria-hidden="true"></i>
                        <h4>Configurações das contas das redes sociais para compartilhamento das notícias</h4>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>