<ion-header>

  <ion-navbar>
    <ion-title>
      Grupo
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <span primary showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="grupo-info">

  <ion-card>

    <ion-card-header>
      <h1>{{grupo.Nome}}</h1>
    </ion-card-header>

    <ion-card-content text-wrap>

      <p>{{grupo.Descricao}}</p>

      <p>
        <strong> {{grupo.Publico ? 'Público' : 'Privado'}} </strong>
      </p>

      <button secondary round block *ngIf="!grupo.Integrante" (click)="entrarNoGrupo()" [disabled]="loading">
        <nfIf *ngIf="!loading">
          Participar
        <ion-icon name="checkmark-circle"></ion-icon>
        </nfIf>
        <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
      </button>

      <button danger round block *ngIf="grupo.Integrante" (click)="sairDoGrupo()" [disabled]="loading">
        <nfIf *ngIf="!loading">
          Sair do Grupo
          <ion-icon name="exit"></ion-icon>
        </nfIf>
        <ion-spinner name="circle" *ngIf="loading"></ion-spinner>
      </button>

    </ion-card-content>

  </ion-card>

</ion-content>