<section ng-controller="relatorioController as c">

	<form ng-submit="c.relatorioTags(dataInicio, dataTermino)" name="form" novalidate>
		<div class="row">
			<div class="col-md-5">
				<label for="dataInicio">Período</label>
				<div class="input-daterange input-group" id="datepicker">
					<input type="text" class="input-sm form-control" name="start" ng-model="dataInicio" required="required" ui-mask="99/99/9999"
						model-view-value="true" />
					<span class="input-group-addon">à</span>
					<input type="text" class="input-sm form-control" name="end" ng-model="dataTermino" required="required" ui-mask="99/99/9999"
						model-view-value="true" />
				</div>
				<div ng-show="!form.$submited && (form.start.$touched || form.end.$touched)">
					<p ng-show="form.start.$error.required" class="text-danger">A data inicial é obrigatória</p>
					<p ng-show="form.end.$error.required" class="text-danger">A data final é obrigatória</p>
				</div>
			</div>
			<div class="col-md-2">
                <br>
				<button class="btn btn-success" type="submit">
                    <i class="fa fa-bar-chart"></i> Gerar relatório
                </button>
			</div>
		</div>

	</form>

	<hr>

	<relatorio-tags result="c.tagsResult"></relatorio-tags>

</section>